# Key Value store
distilBERT.sqlite

# py cache
src/__pycache__/

# Models and Checkpoints
models/*
checkpoints/*

# RabbitMQ credentials
rabbitmq_creds.json

# Server Address
service_address.json

# the save que object
que.obj